<header>
    <nav>
        <a href="/">Be a Blogger</a>
        <ul>
            <li><a href="/bloggers">Bloggers</a></li>
            <li><a href="/bloggers/new">Add a Blogger</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/blog/new">Add a Blog</a></li>
        </ul>
    </nav>
</header>