<header>
  <nav class="header-nav">
    <a class="header-title" href="/">Be-a-Booker</a>
    <ul>
      <li><a href="/authors">All Authors</a></li>
      <li><a href="/authors/new">Add a Author</a></li>
      <li><a href="/books">All Books</a></li>
      <li><a href="/books/new">Add a Book</a></li>
    </ul>
  </nav>
</header>